.main{
  margin: 50px 0;
  .product_cards{
    margin-top: 100px;
    div{
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      justify-content: center;
    }
    a{
      display: flex;
      justify-content: end;
      margin-right: 100px;
      margin-top: 20px;
    }
  }
}