.profile{
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #eeeeee;

  .container{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    gap: 50px;
    @media (max-width: 425px) {
      flex-direction: column;
    }
    div{
      display: flex;
      flex-direction: column;
      gap: 20px;
      span{
        font-size: 17px;
      }
      h3{
        font-size: 24px;
        font-weight: 400;
      }
    }
  }
}
.auth_btns{
  display: flex;
  gap: 30px;
  justify-content: end;
  padding-right: 30px;
}
.favorite_block{
  margin-top: 50px;
  h3{
    text-align: center;
  }
  .favorite_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
    min-height: 425px;
  }

}